venv
.env
Teste_Tecnico_Desenvolvedor_Pleno_ERP_v1.pdf
*.ctl

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/

# Docker
mysql_data/
redis_data/

# Coverage
htmlcov/
.coverage
.coverage.*

# Static
staticfiles/